{% extends 'gossip225/base.html' %}

{% block head_content %}
     <title>Gossip225/Post</title>
{% endblock %}

{% block body_container %}
    {% for post in posts %}
        <div>
            {% if post.thumbnail %}
                <img style="width: 280px; height: 280px; object-fit: cover;" src="{{ post.thumbnail.url }}" alt="Image rattaché">
            {% endif %}
            <p> {{ post.content }}</p>
            <a href="{% url 'post:details' pk=post.pk %}">voir</a>
            <p> {{ post.create_on }} <b>{{ post.author }}</b></p>
        </div>
        <p>-------------------</p>
    {% endfor %}
{% endblock %}

