{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/gossip225/base.css' %}">
    {% block head_content %}
        <title>  Gossip225  </title>
    {% endblock %}
</head>
<body>
    <div class="header">
        <h1>
            <a href="{% url 'post:home' %}"> Gossip225 </a>
        </h1>
        <div class="right">
            <a href="{% url 'post:create' %}">NOUVEAU POST</a> 
            <div>
                <h4><a href="{% url 'account:profile' request.user.username %}"> {{ request.user.username.upper }} </a></h4>
                <a href="{% url 'account:logout' %}">DECONNEXION</a>
            </div>
        </div>
    </div>

    {% block body_container %}


    {% endblock %}

</body>
</html>