{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gossip225</title>
    <link rel="stylesheet" href="{% static 'css/gossip225/home.css' %}">
</head>
<body>
    <div class="container">
        <div>
            <h1>Hello ! Bienvenu, </h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quam delectus labore sed veritatis voluptates molestias, facere dignissimos? Vel assumenda, sequi cupiditate architecto voluptate veniam, quasi magnam voluptatibus pariatur velit adipisci tempore culpa qui alias quas nihil, dicta et exercitationem ex? Neque sint ipsa debitis ipsum consectetur deserunt tempora qui! </p>
            <!-- <p>Veuillez vous <a href="{% url 'account:login' %}">authentifier</a> pour accéder au site.</p> -->
            <div >
                <a class="access_link" href="{% url 'account:login' %}">Accéder</a>
                <a href="">plus d'infos</a>
            </div>
        </div>
    </div>
</body>
</html>