<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer un compte</title>
</head>
<body>
    <h1>Inscription</h1>
    <form action="#" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Je m'inscris">
    </form>
    <p>Vous disposez déjà d'un compte ? <a href="{% url 'account:login' %}">Connectez-vous</a> !</p>

</body>
</html>